html {
	font-family: "Marko One", serif;
 	color: #c04aff;
}

body {
	margin: 0;
	padding: 0;
	background-image: url(../img/other-images/Sfondo-credits.png);
}

header {
	padding: 10px;
	background-color: #3a1a6a;
	margin: 0px;
}

main {
	margin: 0px 25%;
	color: #e0a5ff;
}

footer {
	padding: 20px;
	background-color: #3a1a6a;
	margin: 0px;
}

footer p {
	color: #c04aff;
}

h1 {
	font-family: "Julius Sans One", sans-serif;
	font-size: 2.2em;
	color: #ffb13d;
	display: inline-block;
	float: left;
	transition: 0.6s ease-in-out;
}

a {
	transition: 0.6s ease-in-out;
}

a:active {
	color: white;
}

.inside-links {
  color: #ffb13d;
}

.outside-links {
  color: #8581fc;
}

#home-logo {
	width: 100px;
	float: left;
	transition: 0.5s ease-in-out;
}

#title-link {
	text-decoration: none;
}

#main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Julius Sans One", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

.harmony-experience {
	margin: 0.5rem;
}

.menu-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.menu-links ul li {
	list-style-type: none;
}

.menu-links ul li a {
	color: #ffb13d;
	text-decoration: none;
	transition: 0.6s ease-in-out;
	display: block;
	padding: 1rem;
}

.active-page a {
	border-bottom: 5px solid #ffb13d;

}

.hamburger-menu {
	position: absolute;
	top: 8%;
	right: 5%;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 30px;
}

.hamburger-menu .bar {
	height: 4px;
	width: 100%;
	background-color: #ffb13d;

}

a {
    word-wrap: break-word; /*istruzione per far si che i link
    lunghi si adattino alla pagina*/
}

/*Inizio istruzioni Credits*/


h2 {
	font-family: "Julius Sans One", sans-serif;
	font-size: 2.2em;
	color: #ffb13d;
	text-align: center;
	display: inline-block;
	margin: 10% 0px 5% 0px;

}

.center {
	text-align: center;
}

.credits-container {
	margin: 0px 10% 5% 10%; 
	background-color: rgba(58, 26, 106, 0.8);
	padding: 5%;
	border-radius: 2%;
	color: #e0a5ff;

}

#last-container {
	margin-bottom: 15%;
}

h4 {
	font-family: "Julius Sans One", sans-serif;
	font-size: 1.7em;
	color: #ffb13d;
	text-align: center;
	display: inline-block;
	margin: 5% 0px 10px 0px;

}

/*Istruzioni footer*/

nav#footer-contents ul {
	list-style-type: none;
}

nav#footer-contents ul li {
	display: inline-block;
	padding: 2% 10%;
}

#footer-contents {
	font-family: "Julius Sans One", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

#footer-contents a {
	color: #ffb13d;
	text-decoration: none;
	transition: 0.6s ease-in-out;
}

#contacts {
	padding: 0px 10%;
}


@media (hover: hover) {
	h1:hover {
		color: #c04aff;
	}

	a:hover {
		color: white;
	}

	#home-logo:hover {
		width: 120px;
	}

	.menu-links ul li a:hover {
		color: white;
	}

	.menu-links ul li.active-page:hover a {
		color: #ffb13d;
	}

	#footer-contents ul li.active-page:hover a {
		color: #ffb13d;

	}

	#footer-contents a:hover {
		color: white;
	}
}

@media only screen and (max-width: 600px) {
	body {
		background-image: url(../img/other-images/Sfondo-credits-600w.png);

	}
	main {
		margin: 0px 8%;
	}

	.credits-container {
		margin: 5% 0px; 
	}

	#homepage-buttons {
	display: flex;
	flex-direction: column;
	margin: 0px 20%;
	}

	.hamburger-menu {
		display: flex;
	}

	.menu-links {
		display: none;
		width: 100%;
	}

	#main-menu {
		flex-direction: column;
		align-items: flex-start; /*istruzione che mantiene il logo
		e il titolo sulla sinistra*/
	}

	.menu-links ul {
		width: 100%;
		flex-direction: column;
	}

	.menu-links ul li {
		text-align: center;
		transition: 0.5s ease-in-out;
	}

	.menu-links ul li a {
		padding: 0.5rem 1rem;
	}

	.menu-links.active {
		display: flex;
	}

	.titles {
		text-transform: uppercase;
		color: white;
	}

	.text {
		color: white;
	}
	nav#footer-contents ul li {
    	display: inline-block;
    	margin-right: 10%;
  	}
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
	body {
		background-image: url(../img/other-images/Sfondo-credits-768w.png);
		margin: 0px;
		font-size: 1.05rem;
	}
	main {
		margin: 0px 10%;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
	body {
		background-image: url(../img/other-images/Sfondo-credits-992w.png);
		font-size: 1.05rem;
		
	}
	main {
		margin: 0px 10%;
	}
}