html {
	font-family: "Marko One", serif;
	color: #c04aff;
}

body {
	margin: 0;
	padding: 0;
	background-color: #5b1e7b;
}

header {
	padding: 10px;
	background-color: #3a1a6a;
	margin: 0px;
}

main {
	margin: 0px 25%;
	color: #e0a5ff;
}

footer {
	padding: 20px;
	background-color: #3a1a6a;
	margin: 0px;
}

footer p {
	color: #c04aff;
}

h1 {
	font-family: "Julius Sans One", sans-serif;
	font-size: 2.2em;
	color: #ffb13d;
	display: inline-block;
	float: left;
	transition: 0.6s ease-in-out;
}

a {
	transition: 0.6s ease-in-out;
}

a:active {
	color: white;
}

.inside-links {
  color: #ffb13d;
}

.outside-links {
  color: #8581fc;
}

#home-logo {
	width: 100px;
	float: left;
	transition: 0.5s ease-in-out;
}

#title-link {
	text-decoration: none;
}

#main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Julius Sans One", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

.harmony-experience {
	margin: 0.5rem;
}

.menu-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.menu-links ul li {
	list-style-type: none;
}

.menu-links ul li a {
	color: #ffb13d;
	text-decoration: none;
	transition: 0.6s ease-in-out;
	display: block;
	padding: 1rem;
}

.active-page a {
	border-bottom: 5px solid #ffb13d;

}

.hamburger-menu {
	position: absolute;
	top: 8%;
	right: 5%;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 30px;
}

.hamburger-menu .bar {
	height: 4px;
	width: 100%;
	background-color: #ffb13d;

}

/*Inizio istruzioni Documentazione*/

.center {
	text-align: center;
}

main b {
	color: #c04aff;

}

#disclaimer {
	color: #e0a5ff;
	margin: 5% 0px;
}

h2 {
	font-family: "Julius Sans One", sans-serif;
	font-size: 2.2em;
	color: #ffb13d;
	margin: 10% 0px 5% 0px;

}

h4 {
	font-family: "Julius Sans One", sans-serif;
	font-size: 1.7em;
	color: #ffb13d;
}

#documentation {
	background-color: #3a1a6a;
	padding: 5%;
	border-radius: 10px;
	line-height: 1.5;
	margin-bottom: 10%;

}

#schema-albero {
	width: 100%;
}

#wireframe-home {
	width: 100%;
}

.wireframe {
	width: 100%;
}

#palette-img {
	width: 70%;
	margin: 5% 15% 0px 15%;
}

#palette figcaption {
	margin-bottom: 7%;
}

.wireframe-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.wireframe-container2 {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.wireframe-container3 {
	width: 50%;
	text-align: center;
	margin: 0px 25%;
}

#see-competitors, #hear-competitors, #touch-competitors {
	overflow-x: auto; 
	margin: 7% 0px;
}

figcaption {
	color: #c04aff;
	text-align: center;
}


table {
	border: 1px solid white;
	border-collapse: collapse;
}

td {
	border: 1px solid white;
	padding: 15px;
}

th {
	font-family: "Julius Sans One", sans-serif;
	color: #ffb13d;
	border: 1px solid white;
}


.valutation-results1, .valutation-results2 {
	text-align: center;
}

.valutation-results1 img {
	width: 60%;
}

.valutation-results1 figcaption {
	width: 100%;
	text-align: center;
}

.valutation-results2 img {
	width: 100%;
}

.valutation-results3 {
	display: flex;
	align-items: center;
}

.valutation-results4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.valutation-results3 img {
	width: 100%;
}

.valutation-results3 figcaption {
	width: 100%;
}

.valutation-results4 img {
	width: 255px;
}


/*Istruzioni footer*/

nav#footer-contents ul {
	list-style-type: none;
}

nav#footer-contents ul li {
	display: inline-block;
	padding: 2% 10%;
}

#footer-contents {
	font-family: "Julius Sans One", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

#footer-contents a {
	color: #ffb13d;
	text-decoration: none;
	transition: 0.6s ease-in-out;
}

#contacts {
	padding: 0px 10%;
}

@media (hover: hover) {
	h1:hover {
		color: #c04aff;
	}

	a:hover {
		color: white;
	}

	#home-logo:hover {
		width: 120px;
	}

	.menu-links ul li a:hover {
		color: white;
	}

	.menu-links ul li.active-page:hover a {
		color: #ffb13d;

	}

	#footer-contents ul li.active-page:hover a {
		color: #ffb13d;

	}

	#footer-contents a:hover {
		color: white;
	}

	#return-documentation:hover {
		color: white;
		border-color: white;
		background-color: #c04aff;

	}


}

@media only screen and (max-width: 600px) {
	main {
		margin: 0px 8%;
	}
	.wireframe-container {
		display: flex;
		flex-direction: column;
	}

	.wireframe-container2 {
		display: flex;
		flex-direction: column;
	}
	#homepage-buttons {
	display: flex;
	flex-direction: column;
	margin: 0px 20%;
	}

	.hamburger-menu {
		display: flex;
	}

	.menu-links {
		display: none;
		width: 100%;
	}

	#main-menu {
		flex-direction: column;
		align-items: flex-start; /*istruzione che mantiene il logo
		e il titolo sulla sinistra*/
	}

	.menu-links ul {
		width: 100%;
		flex-direction: column;
	}

	.menu-links ul li {
		text-align: center;
		transition: 0.5s ease-in-out;
	}

	.menu-links ul li a {
		padding: 0.5rem 1rem;
	}

	.menu-links.active {
		display: flex;
	}

	.titles {
		text-transform: uppercase;
		color: white;
	}

	.text {
		color: white;
	}
	nav#footer-contents ul li {
    	display: inline-block;
    	margin-right: 10%;
  	}

	.wireframe-container3 {
	    width: 100%;
	    text-align: center;
	    margin: 0px 0%;
	}


	.valutation-results1 img {
		width: 100%;
	}

	.valutation-results2, .valutation-results3 {
		flex-direction: column;
	}

}

@media only screen and (min-width: 601px) and (max-width: 768px) {
	body {
		font-size: 1.05rem;
	}
	main {
		margin: 0px 15%;
	}
	.wireframe-container {
		display: flex;
		flex-direction: column;
	}

	.wireframe-container2 {
		display: flex;
		flex-direction: column;
	}
	.wireframe-container3 {
	    width: 100%;
	    text-align: center;
	    margin: 0px 0%;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
	body {
		font-size: 1.05rem;
	}
	main {
		margin: 0px 15%;
	}
}